#home {
  padding: 150px 0;
  .fixed_basket {
    width: 168px;
    height: 55px;
    background: rgba(128, 128, 128, 0.842);
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 5px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    img {
      width: 28%;
    }
    p {
      color: aliceblue;
      font-size: 20px;
    }
  }
  .home__content {
    height: 300px;
    background: url("../../assets/Picture\ →\ 6.png.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      color: white;
      font-size: 50px;
      height: 100%;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.329);
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: 400;
      letter-spacing: 6px;
    }
  }
}

@media (max-width: 700px) {
  #home {
    padding: 270px 0;
  }
}
