.sale--blocks {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 0 0 8%;
  padding: 50px 0;
  font-family: sans-serif;
  &__big {
    width: 230px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background: #fff;
    border: 2px solid rgba(128, 128, 128, 0.178);
    position: relative;
    transition: 0.4s;
    padding-bottom: 15px;
    &:hover {
      -webkit-box-shadow: 2px 6px 59px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 2px 6px 59px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 2px 6px 59px 0px rgba(34, 60, 80, 0.2);
    }
    &--one {
      display: grid;
      grid-template-columns: 8fr 1fr;
      justify-content: space-between;
      align-items: center;
      .icon {
        color: black;
        font-size: 20px;
        background: white;
      }
    }
    img {
      margin: 15px;
      width: 85%;
      border-radius: 10px;
      height: 40%;
    }
    &--mini {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      span {
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        margin: 14px 0 0 9px;
      }

      &__text {
        h2 {
          color: #000;
          font-family: Inter;
          font-size: 14px;
          font-weight: 500;
        }
        h3 {
          color: #f3f3f3;
          font-family: Inter;
          font-size: 20px;
          font-weight: 500;
          color: white;
          background: #031018;
          padding: 6px 15px;
          border-radius: 14px;

          span {
            color: white;
          }
        }
      }
    }
    &--btn {
      button {
        padding: 7px 10px;
        border-radius: 8px;
        background: #fff;
        border: 1px solid #0f2035;
        color: #050d24;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        transition: 0.4s;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        &:hover {
          background: #073bac;
          color: #fff;
        }
        &:focus {
          background: #073bac;
          color: #fff;
        }
      }
    }
  }
}

.filter__btns {
  padding: 80px 0 0px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  button {
    padding: 9px 20px;
    border: none;
    border-radius: 10px;
    background: #1a1e24;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      background: #0667d679;
    }
  }
}
